* {
    margin: 0;
    padding: 0;
    
}

.body{
    color: aliceblue;
    background-image: url("D:/DSA+WEBDEV/WEB DEV/PERSONAL PROJECT/assets/bg.png");
    background-size:cover;        /* makes image cover full screen */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents repeating */
    background-attachment:fixed;
    border: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
   overflow-y:scroll;
    
}
.header{
    background-color: rgb(21, 19, 25);
    position:fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 10;
}
.smallhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100px;
    
}
.header img{
    height: 80px;
    width: 80px;
    padding: 4px;
    border-radius: 50px;
    
}
.webname{
    color: rgb(178, 98, 178);
    font-size: 37px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.navigation{
    width: 530px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    justify-content: space-evenly;  
    
}
.navigation a,i{
    text-decoration: none;
    font-size: 25px;
    
}
.navigation a{
    color: rgb(8, 42, 71);
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-radius: 10%;
    background-color: bisque;
    padding: 5px;
    font-size: 15px;
}

