.content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show {
    background-image: url("D:/DSA+WEBDEV/WEB DEV/PERSONAL PROJECT/assets/laurel3.png");
    background-size: cover;
    /* makes image cover full screen */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* prevents repeating */
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 550px;
    width: 100%;

    align-items: center;
}

.moto {
    color: rgb(209, 74, 209);
    font-size: 32px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    font-style: normal;
    margin-top: 110px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px black;
}

.sub-moto {
    color: rgb(204, 157, 204);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    text-shadow: 4px 4px 5px black;
}

.search {
    display:flex;
    flex-direction: row;
    align-self: center;
    
    margin-top: 70px;
    justify-content: space-between;
}
#login{
    margin-right: 20px;
    backdrop-filter: blur(100px);
    background-color: rgb(202, 48, 48);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
#courses{
    margin-left: 20px;
   backdrop-filter: blur(100px);
    background-color: rgb(71, 186, 79);
    padding: 5px;
    
}

.search div{
     font-size: 20px;
     border-radius: 10px;
    
    border-left: 4px solid #fbd87a;
}



.top-teachers {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.top-teachers-head {
    margin: 30px;
    font-size: 30px;
    align-self: center;
}

.teacher-card-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}



.teacher-card {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    border-left: 4px solid #fbd87a;
}


.testimonial{
    margin-top: 300px;
    font-size: 20px;
    align-self: center;
}


.teacher-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(255, 215, 0, 0.3);
}
.search #login:hover,.search #courses:hover{
    
    box-shadow: 0 4px 10px rgb(4, 4, 4);

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

